VITE_SUPABASE_URL=https://elcpslcoxnzuzdavvvpx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_g2G2MPEDW0k_yrNlEo9Ehw_DsnXDmXB
# SUPABASE_SERVICE_ROLE_KEY= (Optionnel, uniquement côté serveur/admin)
